<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мейн Страница</title>
</head>
<body>
    <h1>Мейн Страница</h1>
    <p>Мы найглупейшие создания на всей Логике</p>
    <a href="/forum">Форум</a>
    <a href="/diary">Дневник</a>
    <a href="/calendar">Календарь</a>
    <a href="/polls">Опросы</a>
    <a href="/votings">Голосования</a>
    <a href="/materials">Материалы</a>
    <a href="/portfolio">Портфолио</a>
    <a href="/gallery">Галерея</a>
</body>
</html>